@use '../../styles/partials/global';



.hero {
    overflow: hidden;
    &__img {
        width: 100%;
        height: 90vh;
        filter: brightness(20%) grayscale(20%) ;
        object-fit: cover;
    }
}